@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #e3e5e4;
  --text-color: #48494b;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'VT323', monospace;
  overflow-x: hidden;
}

/* Custom scrollbar to match aesthetic */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border: 2px solid var(--bg-color);
}

.noir-mode {
  --bg-color: #1a1a1a;
  --text-color: #e3e5e4;
  filter: invert(1) hue-rotate(180deg);
}
